:root{
    --background_color:blue;
    --background_color_hover:darkblue;
    --background_color_active:rgba(51, 51, 248, 0.578);
}
.button_1 {
    background-color: var(--background_color);
    width: 200px;
    height: 100px;
    color: aliceblue;
    text-align: center;
    transition: opacity 100ms ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
    border: solid 1px #000;
}
.button_1:hover{
    background-color: var(--background_color_hover);
    width: 200px;
    height: 100px;
    color: aliceblue;
    text-align: center;
    border: solid 1px #000;
}
.button_1:active{
    background-color: var(--background_color_active);
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.button_case{
    display: inline-block ;
}
.default{
    cursor: pointer;
    background-color: white;
    border: solid 1px #777;
    color:black;
}
.default:hover{
    border: solid 1px #000;
    background-color: white;
    color: black;
}
.default:active{
    cursor: default;
    color: rgba(0, 0, 0, 0.272);
    border: solid 1px #00000062;
}