.mobile-menu-open {
    width: 24px;
    height: 24px;
    color: var(--border-light);
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    .mobile-menu-open {
      display: inline-block;
    }
  }