.card {
    display: block;
    width: 350px;
    height: 367px;
    background-color: var(--main-bg);
    box-shadow: 0px 2px 4px var(--black);
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card:hover {
    box-shadow: 0px 4px 8px var(--black);
  }
  
  .card:active {
    transform: translateY(2px);
  }
  
  .card__content {
    position: relative;
    display: flex;
    height: 280px;
    justify-content: center;
    align-items: center;
  }
  
  .card__checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 37px;
    height: 116px;
    justify-content: center;
    align-content: center;
  }
  
  .card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--main-text);
  }
  
  .card__title-little {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--black);
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 164px;
      height: 210px;
    }
  
    .card__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      padding: 5px 20px 0px;
      border-top: 1px solid var(--gray-2);
    }
  
    .card__title-little {
      font-size: 12px;
      line-height: 22px;
      color: var(--gray-3);
      border-top: none;
      padding: 0 0 8px;
    }
  
    .card__content {
      height: 150px;
    }
  
    .card__checkboxes {
      row-gap: 0;
      column-gap: 10px;
    }
  }