.accordion__summary::-webkit-details-marker{  /*Почему то стрелка перстала пропадать(*/
    display: none;
}
.accordion__item{
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    font-size: 16px;
}
.accordion__text{
    color: var(--grey-4);
    font-family:'Inter';
    font-weight: 400;
    line-height: 24px;
}
.accordion__summary{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.accordion__item[open]{
    margin-bottom: 0px;
    padding-bottom: 32px;
}
.accordion__summary:last-child{
    margin-bottom: 0;
}
