.checkbox {
  display: inline-block;
  position: relative;
}

.checkbox_inactive {
  pointer-events: none;
}

.checkbox__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.checkbox__area {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: var(--main-bg);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
}

.checkbox__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--border-light);
  user-select: none;
}

.checkbox__icon {
  visibility: hidden;
  width: 15px;
  height: 13px;
  color: var(--white);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}

.checkbox__input:checked ~ .checkbox__wrapper .checkbox__area {
  background: var(--primary);
  animation-name: area-shadow;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

.checkbox__input:checked ~ .checkbox__wrapper .checkbox__icon {
  visibility: visible;
}

.checkbox__input:focus ~ .checkbox__wrapper .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__wrapper .checkbox__area {
  background: var(--border-dark);
}

.checkbox__input:disabled ~ .checkbox__wrapper .checkbox__label {
  text-decoration: none;
}

.checkbox__input:disabled ~ .checkbox__wrapper .checkbox__icon {
  visibility: hidden;
}

.checkbox__input:disabled ~ .checkbox__wrapper {
  cursor: default;
}

@keyframes area-shadow {
  from {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 30px var(--primary);
  }
  to {
    box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  .checkbox__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .checkbox__area {
    width: 18px;
    height: 18px;
  }

  .checkbox__icon {
    width: 12px;
    height: 10px;
  }

  .checkbox__wrapper {
    display: flex;
    flex-direction: column;
  }
}