.overflow{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #C4C4C4;
    overflow-y: hidden;
}
#modal-open{
position: absolute;
background: #4263EB;
border-radius: 8px;
width:189px;
height:48px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
border: none;
}
#modal-open:active{
    background: #4264eb7e;
}
#modal{
display: none;
position: absolute;
width: 428px;
height: 294px;
left: 581px;
top: 75px;
background: #FFFFFF;
border-radius: 8px;
box-shadow: #C4C4C4 ;
padding: 30px 40px;
}
#modal-close{
    position: relative;
    top: -80px;
    left: calc(100% - 20px);
    cursor: pointer;
}
