.page{
    position: absolute;
    height: 100%;
    width: 100%;
}
#modal-open{
position: absolute;
background: #4263EB;
border-radius: 8px;
width:189px;
height:48px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
border: none;
}
#modal-open:active{
    background: #4264eb7e;
}
#modal{
position: absolute;
max-width: 428px;
bottom: 50%;
left: 30%;
background: #FFFFFF;
border-radius: 8px;
border: 1px solid black;
padding: 30px 40px;
display: none;
}
#modal-close{
    position: relative;
    top: -80px;
    left: calc(100% - 20px);
    cursor: pointer;
}
