.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.modal__window{
position: absolute;
max-height: 428px;
max-width: 294px;
bottom: 50%;
left: 30%;
background: #FFFFFF;
border-radius: 8px;
border: 1px solid black;
padding:30px 40px;
display: none;
}
.modal__close{
    position:absolute;
    left: calc(100% - 30px) ;
    top:20px;
    cursor: pointer;
}
