.histogram{
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.histogram__orders{
    display: flex;
    justify-content: space-between;
}
.histogram__orders__number{
    display: flex;
    align-self:start;
    flex-basis: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding-bottom: 40px;
}
.histogram__orders__total{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

}
.histogram__stats{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    height: 50px;
    
}
.stats{
    border: 1px solid black;
    background-color: var(--blue);
    flex-grow: 1;
}
.histogram__stats_el1{
    height: 100%;
}
.histogram__stats_el2{
    height: 50%;
}
.histogram__stats_el3{
    height: 10%;
}
.histogram__stats_el4{
    height: 56%;
}
.histogram__stats_el5{
    height: 70%;
}
.histogram__stats_el6{
    height: 45%;
}
.histogram__stats_el7{
    height: 56%;
}
.histogram__stats_el8{
    height: 100%;
}
.histogram__stats_el9{
    height: 12%;
}
.histogram__stats_el10{
    height: 90%;
}
.histogram__stats_el11{
    height: 69%;
}
.histogram__stats_el12{
    height: 71%;
}
.histogram__stats_el13{
    height: 22%;
}
.histogram__stats_el14{
    height: 80%;
}
.histogram__stats_el15{
    height: 100%;
}
.histogram__stats_el16{
    height: 100%;
}
.histogram__stats_el17{
    height: 50%;
}
.histogram__stats_el18{
    height: 10%;
}
.histogram__stats_el19{
    height: 56%;
}
.histogram__stats_el20{
    height: 70%;
}
.histogram__stats_el21{
    height: 45%;
}
.histogram__stats_el22{
    height: 56%;
}
.histogram__stats_el23{
    height: 100%;
}
.histogram__stats_el24{
    height: 12%;
}
.histogram__stats_el25{
    height: 90%;
}
.histogram__stats_el26{
    height: 69%;
}
.histogram__stats_el27{
    height: 71%;
}
.histogram__stats_el28{
    height: 22%;
}
.histogram__stats_el29{
    height: 80%;
}
.histogram__stats_el30{
    height: 100%;
}

