.avatar{
    max-width: 102px;
    height: 102px;
    height: 102px;
    width: 102px;
    object-fit: contain;
}
.avatar__img{
    object-fit: contain;
    max-width: 102px;
    height: 102px;
    border-radius: 50%;
}