.tooltip {
    display: inline-block;
    position: relative;
  }
  
  .tooltip_visible {
    text-align: center;
  }
  
  .tooltip_visible .tooltip__bubble {
    visibility: visible;
  }
  
  .tooltip_visible .tooltip__bubble {
    position: static;
    transform: translateX(0);
  }
  
  .tooltip_visible .tooltip__trigger {
    margin-top: 13px;
  }
  
  .tooltip__bubble {
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px;
  }
  
  .tooltip__bubble::after {
    content: '';
    border: 14px solid transparent;
    border-top-color: var(--primary);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-2);
    white-space: nowrap;
  }
  
  .tooltip__trigger {
    color: var(--primary);
    width: 22px;
    height: 22px;
  }
  
  .tooltip__trigger:hover ~ .tooltip__bubble {
    visibility: visible;
  }
  
  @media screen and (max-width: 480px) {
    .tooltip__title {
      font-size: 14px;
      line-height: 22px;
    }
  
    .tooltip__bubble {
      padding: 10px 15px;
    }
  }