.skeleton{
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom:32px;
    padding-right: 40px;
}
.skeleton__header{
    display: flex;
    flex-direction: row;
}
    .skeleton__header_image{
        display: flex;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: var(--grey-2);
    }
    .skeleton__header__lines{
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-content: center;
        padding-left:16px;   
        box-sizing: border-box;
        margin:8px 8 8;       
    }
        .skeleton__header__lines_line1{
            display: flex;
            background-color: var(--grey-2);
            flex-basis: auto;
            width: 40%;
            height: 20px;
            margin:8px 0 0;
        }
        .skeleton__header__lines_line2{
            display: flex;
            background-color: var(--grey-2);
            flex-basis: auto;
            width: 60%;
            height: 20px;
            margin:8px 0 0;
        }
.skeleton__body{
    display: flex;
    padding-top: 24px;
}
    .skeleton__body__lines{
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-content: space-between;  
        box-sizing: border-box;

    }
    .skeleton__body__lines_line3{
        display: flex;
        background-color: var(--grey-2);
        flex-basis: auto;
        height: 20px;
        margin:8px 0 0;

    }
    .skeleton__body__lines_line4{
        display: flex;
        background-color: var(--grey-2);
        flex-basis: auto;
        height: 20px;
        margin:8px 0 0;
    }