.skeleton{
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom:32px;
    padding-right: 40px;
}
.skeleton__header{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
    .skeleton__image{
        display: flex;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: var(--grey-2);
    }
    .skeleton__lines{ 
        display: flex;
        flex-grow: 1;
        flex-direction: column;  
        gap: 8px;  
        align-self: normal; 
        padding-top: 8px; 
    }
    .skeleton__line{
        background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);; 
        height: 20px;
    }
        .skeleton__line_short{
            width: 40%;
        }
        .skeleton__line_medium{
            width: 60%;
        }
.skeleton__body{
    display: flex;
    padding-top: 24px;
}

    .skeleton__line_long{
        width: 100%;
    }
