.skeleton{
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    display: flex;

    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom:32px;
    padding-right: 40px;
}
.skeleton_header{
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    align-items: flex-start;
}
    .header_image{
        display: flex;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: var(--grey-2);
    }
    .header_lines{
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-content: space-between;
        padding-left:16px;   
        box-sizing: border-box;
        margin:8px 8 8;
        
    }
    .lines{
        display: flex;
        height: 20px;
        margin:8px 0 0;
    }
        .line_1{
            display: flex;
            background-color: var(--grey-2);
            flex-basis: auto;
            width: 40%;
        }
        .line_2{
            display: flex;
            background-color: var(--grey-2);
            flex-basis: auto;
            width: 60%;
        }
.skeleton_body{
    display: flex;
    flex-basis: 50%;
    padding-top: 24px;
}
    .body_lines{
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-content: space-between;  
        box-sizing: border-box;

    }
    .line_3{
        display: flex;
        background-color: var(--grey-2);
        flex-basis: auto;

    }
    .line_4{
        display: flex;
        background-color: var(--grey-2);
        flex-basis: auto;
    }