.tooltip{
    cursor: pointer;
}
.tooltip .tooltip__text{
    visibility: hidden;
    background-color: var(--blue);
    color:var(--grey-2);
    text-align: center;
    padding:21px 13px 8px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    left: calc(50% - 87px/2);
    top: calc(50% - 24px/2 - 0.5px);
    bottom: 100%;
    left: 50%;
    
}
.tooltip:hover .tooltip__text{
    visibility: visible;
    cursor: default;
}