.checkbox {
    display: inline-block;
    position: relative;
}

.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.checkbox__control{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DDE2E5;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    user-select: none;
}

.checkbox__icon {
    display: none;
}

.checkbox__input:checked~.checkbox__state .checkbox__control {
    background: var(--primary);
    animation-name: area-shadow;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}
.checkbox__input:checked~.checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:checked~.checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:focus~.checkbox__state .checkbox__ttile{
    text-decoration: underline;
}

.checkbox__input:disabled~.checkbox__state .checkbox__control{
    background: var(--grey-2);
}

.checkbox__input:disabled~.checkbox__state .checkbox__title{
    color: var(--grey-2);
    text-decoration: none;
}

.checkbox__input:disabled~.checkbox__state {
    pointer-events: none;
}
@keyframes area-shadow {
    from {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 30px var(--primary);
    }
    to {
      box-shadow: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .checkbox__title {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  
    .checkbox__control {
      width: 18px;
      height: 18px;
    }
  
    .checkbox__icon {
      width: 12px;
      height: 10px;
    }
  
    .checkbox__state {
      display: flex;
      flex-direction: column;
    }
  }