.content {
    background-color: var(--main-bg-light);
  }
  
  .content__container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    padding: 68px 0 204px 0;
  }
  
  .content__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--main-text);
  }
  
  @media screen and (max-width: 480px) {
    .content__container {
      gap: 16px;
      padding: 22px 0 133px;
    }
  }