.burger {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400; 
    display: block;
	position: fixed;
	top: 0;
	left: 0;
    width: 100vw;
	height: 100vh;
    transform: translateX(-100%);
	transition: all 0.3s ease 0s;
  }
.burger[data-open] {
    transform: translateX(0);
}
.burger__header{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-bottom: 32px;
}
.burger__close{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
    background-color: #DDE2E5;
    border-radius: 50%;  
}
.burger__icon{
    display: flex;
    align-self: center;
}
.burger__logo{
    display: flex;
}

.burger-menu__body{
    padding-top: 24px;
    
}
.burger-menu__title{
    margin: 0;
}
.burger-menu__list{
    padding-left: 0;
    padding-top: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 72px;
}
.burger-menu__item{
    list-style-type: none;
    font-size: 16px;
	line-height: 1.5;
}
.burger-menu__link {
	text-decoration: none;
	color: var(--black);
}

.burger-menu__bottom {
	text-decoration: none;
	color: var(--black);
}
.burger__input:checked ~ .burger__state {
    background: blue;
}

.burger__input:checked ~ .burger__state:before {
    background: var(--white);
}

.burger__input:checked + .burger__state:before {
	transform:translateX(28px);
}
